@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* @theme {
  --font-display:"Urbanist", sans-serif;
  --breakpoint-3xl:1920px;
  --color-primary: #00A7F3;
} */

/* Organize these styles in the "base" layer */
@layer base {
  /* Make the whole page use a custom font */
  html {
    font-family: var(--font-display);
  }
  
  /* Style the page background and prevent side scrolling */
  body {
    background-color: #f7fafe;  /* Light blue background */
    overflow-x: hidden;         /* No horizontal scrolling */
  }
}